<div class="page-content">

  <div class="loadWrapper" *ngIf="isLoadind">
    <div class="loader"></div>
  </div>

  <div>

    <app-navbar></app-navbar>

  </div>

  <div class="body">

    <div class="search-container">

      <div class="search-input">
        <ejs-textbox #search placeholder="" (keydown.enter)="buttonSearch()"></ejs-textbox>
      </div>
      <div class="search-button">
        <button ejs-button iconCss="fa fa-search" (click)="buttonSearch()"></button>
      </div>
    </div>

    <div class="books-cards">

      <div *ngFor='let book of dataSource'>

        <div class="">
          <div class="e-card">
            <div class="e-card-header">
              <div class="e-card-header-image">
                <img src={{book.volumeInfo.imageLinks.thumbnail}}>
              </div>
              <div class="e-card-header-caption">
                <div class="e-card-header-title alert-card-header">Tittle : {{book.volumeInfo.title}}</div>
                <div class="e-card-sub-title">{{book.searchInfo.textSnippet}}</div>
              </div>
              <div class="card-button" *ngIf="!isFavorite(book)">
                <button ejs-button iconCss="fa fa-star-o" (click)="showDialog(book, false)"></button>
              </div>
              <div class="card-button-liked" *ngIf="isFavorite(book)">
                <button ejs-button iconCss="fa fa-star-o" class="card-bt-liked"
                  (click)="showDialog(book, true)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <ejs-dialog #confirmModal [header]="contentData" [buttons]="buttons"
     [width]="dialogWidth" [visible]='false' [isModal]='true' [height]="dialogHeigth"
     (overlayClick)='clickModal($event)'></ejs-dialog>

  </div>

</div>
